<template name="player">
  <!--<figure id="audioplayer" itemprop="track" itemscope="" itemtype="http://schema.org/MusicRecording">
    <figcaption>
      <div class="playerline">Title<span itemprop="name">24 Ghosts III</span></div>
      <div class="playerline" id="x-type">Type<span itemprop="inAlbum">Ghosts III</span></div>
      <div class="playerline" id="x-artist">Artist<span itemprop="byArtist">N/A</span></div>
      <div class="playerline" id="x-time">Time<span id="playbacktime">N/A</span></div>
    </figcaption>
    <meta itemprop="duration" content="PT2M29S"/>
    <div id="fader">-->
      <input type="range" min="0" max="1" step="any" value="{{volume}}" orient="horizontal" id="volumeSlider"/>
    <!--</div>
    <div id="playback">-->
      <p id="title">{{title}}</p>
      <button class="ss-icon" id="playbutton">{{playPauseButtonTitle}}</button>
      <!--<progress min="0" max="100" value="0" id="playhead"></progress>
    </div>
  </figure>-->
</template>