.grid-block, .main, .channel {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666; }

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.channel {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .channel:before, .channel:after {
    content: "";
    display: table; }
  .channel:after {
    clear: both; }
  .channel.invisible {
    opacity: 0; }
  .channel.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .channel.animate{
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .channel .channel-content {
    float: left; }
    .channel .channel-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .channel .channel-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .channel .channel-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .channel .channel-content p {
      margin: 0; }
  .channel .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

figure#audioplayer {
    border: 1px solid #000;
    background: #333;
    background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/dark_wall.png);
    overflow: hidden;
    width: 27rem;
    padding: .4rem;
    margin: 2rem auto;
}
figure#audioplayer audio {
    width: 0;
    height: 0;
}
figure#audioplayer figcaption {
    width: 21.5rem;
    font-size: 0;
    margin: .45rem;
    background: #000;
    float: left;
    border: 1px solid #555;
    text-align: left;
}
figure#audioplayer figcaption div {
    background: #000;
    color: #fff;
    padding: .8rem;
    font-family: Avenir,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    display: inline-block;
}
figure#audioplayer figcaption div span {
    display: block;
    font-size: 1.3rem;
    text-indent: 1rem;
}
div.playerline {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    width: 90%;
}
/*div#type {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    width: 100%;
}
div#time {
    width: 7.55rem;
    border-left: 1px solid #555;
}*/
input#volumeSlider {
    -webkit-appearance: slider-vertical;
    width: 35px;
}
figure#audioplayer button {
    width: 3rem;
    height: 3rem;
    background: #000;
    color: #fff;
    border: none;
    -webkit-font-feature-settings: "liga","dlig";
    font-feature-settings: "liga","dlig";
}
#playback {
    clear: both;
}
div#fader {
    display: inline-block;
}
#playback progress {
    margin-left: 1rem;
    width: 20rem;
    height: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #888;
    border: none;
    color: hsl(44,100%,44%);
}
progress: : -webkit-progress-bar,progress: : -moz-progress-bar,progress: : progress-bar {
    background: hsl(44,100%,44%);
}
progress: : -webkit-progress-value {
    background: hsl(44,100%,44%);
}
progress: : -moz-progress-bar {
    background-color: hsl(44,100%,44%);
}
@media screen and (max-width: 500px)  {
    div#time {
        display: block!important;
        border-top: 1px solid #555;
        width: 100%;
    }
    figure#audioplayer {
        width: 100%;
        padding: .2rem;
    }
    figure#audioplayer figcaption div {
        padding: .4rem;
    }
}
@media screen and (max-width: 450px)  {
    figure#audioplayer figcaption {
        width: 16rem;
    }
    #playback progress {
        width: 220px;
    }
}
@media screen and (max-width: 400px)  {
    figure#audioplayer figcaption {
        width: 14rem;
    }
}
