<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{pathFor 'home'}}">Tandberg Sølvsuper 5 De Luxe</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="{{activeRouteClass 'home' 'newChannels'}}">
            <a href="{{pathFor 'newChannels'}}">New</a>
          </li>
          <li class="{{activeRouteClass  'bestChannels'}}">
            <a href="{{pathFor 'bestChannels'}}">Best</a>
          </li>
          {{#if currentUser}}
            <li class="{{activeRouteClass 'channelSubmit'}}">
              <a href="{{pathFor 'channelSubmit'}}">Submit Channel</a>
            </li>
          {{/if}}
        </ul>
        <ul class="nav pull-right">
          <li>{{> loginButtons}}</li>
        </ul>
      </div>
    </div>
  </header>
</template>